<!-- Toolbar -->
<div class="container">
  <div class="toolbar" role="banner">
    <span class="title">Benedict</span>
  </div>
  <div class="content">
    <p class="round">
      <input class="search" type="text" (keyup)="onKeyUp($event)">
    </p>
    <ul class="searched-list">
      <li *ngFor="let word of words">
        <a href="#">{{ word }}</a>
      </li>
    </ul>
  </div>
  <div class="animation">
    <p class="slide" *ngFor="let w of fake">
      {{ w }}
    </p>
  </div>
  <div class="animation">
    <p class="slide" *ngFor="let w of fake">
      {{ w }}
    </p>
  </div>
</div>
